venv*/
*.*~
*~
test-results/
coverage.xml
dist/
.ipynb_checkpoints/
__pycache__/
.dir-locals.el
.coverage*
*.log
ray_results/
doc/build/
.mypy_cache
*.aux
*.bbl
*.blg
*.out
*.pdf
*.aux
*.nav
*.snm
*.toc
\#*.*\#
flycheck_*.py

